@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

:root {
  --brand-colour-yellow: #FFCB03;
  --brand-colour-yellow-medium-opacity: #ffcd0367;
  --brand-colour-yellow-low-opacity: #ffcd0344;
  --brand-colour-black: #020000;
  --brand-colour-pink: #EF528A;
  --brand-colour-blue: #00A6E4;
  --brand-colour-blue-light: #C2E3F6;
  --brand-colour-green: #8DC63F;
  --brand-colour-steel-grey: #9CBCCD;
  --brand-colour-stone-beige: #E9E4DD;
  --brand-font-family: 'Raleway', sans-serif;


  --breakpoint-xs: 360px;
  --breakpoint-s: 576px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
  --breakpoint-xl: 1200px;
}

body {
  font-family: var(--brand-font-family);
  font-weight: 300;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  /* justify-content: space-between; */
  align-items: top;
  padding: 0;
  margin: 0;
}


/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
  background-color: var(--brand-colour-yellow);
}

/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}

/* .account-masthead .account .notifications a span:hover {
  background-color: var(--brand-colour-yellow);
  color: var(--brand-colour-black);
} */
/*  The list elements of the account masthead */
.account-masthead .account ul li {
  display: block;
  float: left;
  border-left: none;
}

/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: var(--brand-colour-black);
}

/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: var(--brand-colour-yellow);
  background-color: black;
}

.account-masthead .account ul li a:hover>.badge {
  background-color: var(--brand-colour-yellow);
  color: var(--brand-colour-black);
}


/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: #000000;
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: var(--brand-colour-yellow-low-opacity);
  ;
  color: white;
}

/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:focus {
  background-color: var(--brand-colour-yellow-medium-opacity);
  /* color: var(--brand-colour-black); */
}

/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}

/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}

/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: white;
}

/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
  background-color: rgb(61, 61, 61);
}

/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}

.module-heading {
  background-color: var(--brand-colour-stone-beige);
}

.homepage .module-search {
  padding: 0px;
}

/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 1px solid rgb(204, 204, 204);
}

.btn-primary {
  color: var(--brand-colour-black);
  background-color: var(--brand-colour-yellow);
  border-color: var(--brand-colour-yellow-low-opacity);
}

/* The Popular tags banner in the middle of home page */
.homepage .module-search .tags {
  background-color: var(--brand-colour-blue-light);
  color: #000;
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer,
body {
  background-color: rgb(0, 0, 0);
}

/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}

/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

/* ====================================
           Organization item
  ==================================== */

  /* Added a div container for the image, which takes the dimensions of 
    its parent element, <li>. whilst accounting for the padding [178px - (2x15px)] 
    and sets a fixed height*/
.img-container {
  display: block;
  width: 148px;
  height: 150px;
}
/* Having a parent element with fixed size, this img can now take the full size of its parent */
.img-responsive.media-image {
  width: 100%;
  height: 100%;
}
