<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        Organizations participating in SMDH can create, manage, and publish datasets. 
        Users can have different roles within an organization,
        including roles for creating, editing, and publishing/sharing data. 
        You can share with SMDH to gain insights into your data or with other 
        organizations and individuals. 
        If you share, others will be more inclined to share with you!
      {% endtrans %}
    </p>
  </div>
</div>