{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
{% block item %}
<li class="media-item-org">
  {% block item_inner %}
        {% block link %}
        <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="org-card">
          <div class="org-card-content">
            {% block image %}
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="org-card-img">
            {% endblock %}
            <div class="org-card-body">
              {% block title %}
                <h2 class="media-heading">{{ organization.display_name }}</h2>
              {% endblock %}
              {% block description %}
                {% if organization.description %}
                  <p class="org-description">{{ h.markdown_extract(organization.description, extract_length=160) }}</p>
                {% endif %}
              {% endblock %}
              {% block datasets %}
                {% if organization.package_count %}
                  <strong class="count"><i>{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</i></strong>
                {% else %}
                  <span class="count"><i>{{ _('0 Datasets') }}</i></span>
                {% endif %}
              {% endblock %}
              {% block capacity %}
                {% if show_capacity and organization.capacity %}
                <p><span class="label label-default">{{ h.roles_translated().get(organization.capacity, organization.capacity) }}</span></p>
                {% endif %}
              {% endblock %}
            </div>
          </div>
        </a>
        {% endblock link %}
  
  {% endblock item_inner %}
</li>
{% endblock item %}
{% if position is divisibleby 3 %}
  <li class="clearfix js-hide"></li>
{% endif %}