{#
    Usage example:
    {% snippet 'snippets/cropper_modal.html' %}
#}
            <div class="cropper modal fade" id="cropper-modal" data-backdrop="static" role="dialog" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document" id="cropper-modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crop your image</h5>
                        </div>
                        <div class="modal-body" id="modal-cropper-body">
                            <div>
                                <img src="" alt="Output image" id="cropper-output-image">
                            </div>
                            <div id="zoom-buttons-container">
                                <button type="button" class="btn btn-primary" id="zoom-in" title="Zoom in">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-primary" id="zoom-out" title="Zoom out">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <h5>Preview</h5>
                            <div class="cropper-img-preview-container">
                                <img id="preview">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="apply-crop">Apply</button>
                            <button type="button" class="btn btn-secondary" id="cancel-crop" aria-label="Close" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
