{% ckan_extends %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for('dataset.read', id='') %}
{% set domain = h.url_for('dataset.read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>', 'data-module-package-id': data.id, 'class': 'form-control input-sm'} %}
  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true, disabled=true if data.id else false) }}
{% endblock %}
