{% trans %}
<p>
    This is the Asset Explorer Portal powered by CKAN the open-source data portal platform and developed by STFC - Hartree Centre for Made Smarter.
</p>

<p>
    Made Smarter is a national movement to drive growth amongst UK 
    makers and advance the UK economy. Backed by world-renowned 
    businesses and the UK government, it will improve the development 
    and adoption of emerging technologies. Making a real, everyday 
    difference to people from the boardroom to the factory floor. 
</p>

<p>
    Made Smarter was formed following a nationwide review into UK 
    manufacturing that recommended three key changes: More ambitious 
    leadership. More innovation in developing new technologies. And 
    faster implementation and adoption of those technologies. We’ll be 
    boosting the digital skills of industry leaders, bringing businesses 
    and research development together to develop new technology, 
    and helping makers embrace new digital tools. In doing so, we’ll 
    inspire the next industrial revolution and make the UK a leader in 
    digital technologies. 
</p>

<p>For more information, on Made Smarter visit <a href="https://www.madesmarter.uk/">madesmarter.uk</a> today</p>
<p>For more information, on Smart Manufacturing Data Hub visit <a href="https://smdh.uk/">smdh.uk</a> today</p>
<p>For more information, on STFC - Hartree Centre visit <a href="https://www.hartree.stfc.ac.uk/">hartree.stfc.ac.uk</a> today</p>

{% endtrans %}
