{% ckan_extends %}

{% block styles %}
  {{ super() }}
{# Import smdh.css using Webassets.  'smdh/' is
    the name that the smdh/fanstatic directory was registered
    with when the toolkit.add_resource() function was called.
    'smdh-css' is the name to the Webassets bundle file,
    registered inside webassets.yml file. #}
  {% asset 'smdh/smdh_css' %}
  {% asset 'smdh/smdh_img_cropper_css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'smdh/smdh_img_cropper' %}
  {% asset 'smdh/smdh_overrides' %}
{% endblock %}
