{% ckan_extends %}
{% block footer_content %}

{{ super() }}

{% endblock footer_content %}
{% block footer_attribution %}
<div class="flex-container">
    <span>
        <p>
            {% trans %}
                <strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>
            {% endtrans %}
        </p>
    </span>
    <span>
        <p>
            {% trans %}
                <strong>Developed by <a href="https://www.hartree.stfc.ac.uk">
            {% endtrans %}
            <img src="{{ h.url_for_static('/logo_dark_grey_hartree.svg') }}" alt="STFC Hartree Centre"></a></strong>
            
        </p>
    </span>
</div>

{% endblock footer_attribution %}

{% block footer_links_ckan %}
    <li><a href="https://mdep.smdh.uk/dataset/77498c71-4d64-4d56-b75b-f5c2c2c9aa80/resource/ede3139c-3058-43e8-a081-bdebff163b74/download/smdh-aep-user-guide.pdf">{{ _('Help') }}</a></li>
    {{ super() }}
{% endblock footer_links_ckan %}