{% ckan_extends %}

{% block header_site_navigation_tabs %}
<li><a href="https://smdh.uk/datahub">DataHub</a></li>
{{ h.build_nav_main(
		('dataset.search', _('Datasets')),
		('organization.index', _('Organizations')),
	)
}}

<li><a href="/organization/smdh">Guides</a></li>

{{
	h.build_nav_main(
		('home.about', _('About')),
	) 
}}
{% endblock %}

{% block header_account_logged %} 
{% if c.userobj.sysadmin %}
  <li style="margin: 0px;">
    <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
      <i class="fa fa-gavel fa-lg" aria-hidden="true"></i>
      <span class="text">{{ _('Admin') }}</span>
    </a>
  </li>
  {% endif %}
  <li style="margin: 0px;">
    <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            {{ h.user_image((c.user if c and c.user else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
          </a>
  </li>

  <li style="margin: 0px;">
    <a href="{{ h.url_for('dashboard.organizations') }}" title="{{ _('Profile settings') }}">
      <i class="fa fa-home fa-lg" aria-hidden="true"></i>
      <span class="text">{{ _('Profile settings') }}</span>
    </a>
  </li>

  {% set new_activities = h.new_activities() %}
  <li style="margin: 0px;" class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities)
    %}
    <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
      <div style="position: relative;">

  <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
  <span class="text">{{ _('Dashboard') }}</span>

  {% if new_activities != 0 %}
    <span style="
      position: absolute;
      top: 6px;
      right: 1px;
      width: 7px;
      height: 7px;
      background: red;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      "></span>
  {% endif %}
  </div>

    </a>
  </li>
  {% block header_account_settings_link %}
  <li style="margin: 0px;">
    <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
      <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
      <span class="text">{{ _('Profile settings') }}</span>
    </a>
  </li>
  {% endblock %} {% block header_account_log_out_link %}
  <li style="margin: 0px;">
    <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
      <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
      <span class="text">{{ _('Log out') }}</span>
    </a>
  </li>
  {% endblock %}
{% endblock %}
